name: Build Libcurl Static SSL
on: [workflow_dispatch]

jobs:
  build-curl:
    runs-on: windows-latest
    steps:
      # 1. Pastikan checkout repository CURL dengan benar ke root
      - name: Checkout Curl Source
        uses: actions/checkout@v4
        with:
          repository: curl/curl
          fetch-depth: 1
          # Jangan gunakan parameter 'path' agar file langsung ada di root

      # 5. Compile
      - name: Configure and Build with CMake
        shell: cmd
        run: |
          :: 1. Inisialisasi Environment VS
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"

          :: 2. Buat folder build
          mkdir build
          cd build

          :: 3. Jalankan CMake
          :: -DCURL_USE_OPENSSL=ON dan -DCURL_STATIC_CRT=ON untuk menyatukan library
          cmake .. -G "Visual Studio 17 2022" -A x64 ^
            -DCMAKE_TOOLCHAIN_FILE="%VCPKG_INSTALLATION_ROOT%\scripts\buildsystems\vcpkg.cmake" ^
            -DVCPKG_TARGET_TRIPLET=x64-windows-static ^
            -DBUILD_SHARED_LIBS=ON ^
            -DCURL_USE_OPENSSL=ON ^
            -DCURL_ZLIB=ON ^
            -DCURL_STATIC_CRT=ON

          :: 4. Compile (Build)
          cmake --build . --config Release
          
      - name: List Files for Debug
        run: |
          dir build/src/Release

          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: libcurl-with-static-ssl
          path: build/src/Release/*
