name: Build Libcurl Static SSL
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Curl
        uses: actions/checkout@v4
        with:
          repository: curl/curl
          fetch-depth: 1

      - name: Setup vcpkg
        run: |
          vcpkg install openssl:x64-windows-static zlib:x64-windows-static

      - name: Configure and Build
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cd winbuild
          :: WITH_SSL=static dan RTLIBCFG=static akan menggabungkan semuanya ke satu DLL
          nmake /f Makefile.vc mode=dll VC=17 WITH_SSL=static SSL_PATH="D:\a\${{ github.event.repository.name }}\${{ github.event.repository.name }}\vcpkg_installed\x64-windows-static" MACHINE=x64

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: libcurl-with-static-ssl
          path: builds/libcurl-vc17-x64-release-dll-ssl-static-ipv6-sspi/*
